@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    width: 100%;
    background: darkred;
    left: 0;
    top: 39px;
    transition: 0.3s;
  }

  .desktopMenu {
    display: none;
  }
}

@media (min-width: 992px) {
  .mobileNavigation {
    display: none;
  }

  .navbar-toggler {
    display: none !important;
  }

  .navbar-nav {
    flex-direction: row;
    -webkit-box-orient: horizontal;
  }

  .navbar {
    justify-content: center;
  }
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}
